<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/slate/bootstrap.min.css" rel="stylesheet" integrity="sha384-FBPbZPVh+7ks5JJ70RJmIaqyGnvMbeJ5JQfEbW0Ac6ErfvEg9yG56JQJuMNptWsH" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="scripts/scriptCountry.js"></script>
        <link rel="shortcut icon" href="#" />
    </head>
    <body>
        <%- include('../header') -%>
            <div class="container-fluid">
                <table class="table table-hover">
                        <thead>
                        <tr style="width: 60%">
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Country Code</th>
                            <th scope="col">Size [km2]</th>
                            <th scope="col">Population [mil]</th>
                            <th scope="col">Continent</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% countries.country.forEach(function(country){ %>
                        <tr class="table-secondary" style="width: 60%">
                                
                                <td><%=country.Id%></td>
                                <td><%=country.Name%></td>
                                <td><%=country.Code%></td>
                                <td><%=country.Size%></td>
                                <td><%=country.Population%></td>
                                <td><%=country.Continent%></td>
                                <td>
                                    <button type="button" class="btn-primary" name="edit" id=<%="edit_" + country.Id%>>Edit</button>
                                    <button type="button" class="btn-primary" name="delete" id=<%="delete_" + country.Id%>>Delete</button>
                                </td>
                        </tr>
                        <% }) %>
                        </tbody>
                </table>
                <button type="button" class="btn btn-primary" id="createCountryModButton">Create country</button>
            </div>
            <%- include('create') -%>
            <%- include('edit') -%>
            <br>
            <br>
            <br>
            <div class="alert alert-dismissible alert-success" id="message">
              <button type="button" class="close" id="messageClose" data-dismiss="alert">&times;</button>
              <div id="messageText">
                  <%=countries.message%>
              </div>
            </div>        
    </body>
</html>